.root {
    margin-top: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
    color: white;
    border-top-left-radius: 24px !important;
    border-radius: 8px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    box-shadow: 1px 1px 1px #c700c7;
}

.header {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin: 4px 0;
}

.prof-img {
    width: 48px;
    height: 24px;
    transform: scaleY(200%) translateY(-10%);
    border-radius: 50%;
}

.display-name {
    color: #c700c7;
    font-weight: bolder;
}

.body {
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-word;
}

.emote-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.fragment-image {
    display: flex;
    justify-content: center;
    padding: 0 .5rem .5rem .5rem;
}

.fragment-image > img {
    max-width: 100%;
    max-height: 200px;
}
