@page "/auth"

<div class='root'>
    <div class='container'>
        <h1>Auth</h1>
        <div class='twitch'>
            <h3>Twitch</h3>
            
            <table>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                @foreach (var item in _models)
                {
                    <tr>
                        <td>
                            @item.UserId
                        </td>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @(item.IsValid ? "✔️" : "❌" )
                        </td>
                        <td>
                            <button @onclick='async _ => await RefreshInfo(item)'>Refresh Info</button>
                        </td>
                    </tr>
                }
            </table>
            <button @onclick='NavigateToTwitchAuth'>Add Account</button>
        </div>
    </div>
</div>
