.root {
    display: flex;
    justify-content: end;
}

.container {
    display: flex;
    flex-direction: column;
    width: 382px;
    margin: 0 .5rem .5rem 0;
    height: 66vh;
    overflow: scroll;
}
