@page "/"

<div>
    <h1>
        Hello, it is Kanawanagasaki.TwitchHub
    </h1>
    <p>
        Components have been moved to their specific pages 
    </p>
    <p>
        Click <a href='/auth'>here</a> to manage all authentificated accounts
    </p>
    <p>
        Chat located <a href='/chat'>here</a>
    </p>
    <p>
        Followers counter is <a href='/followers-counter'>here</a>
    </p>
</div>
