@page "/"

@if(!TwAuth.IsAuthenticated)
{
    <div>
        Not authenticated
    </div>
}
else if(string.IsNullOrWhiteSpace(Channel))
{
    <div>
        You should speciffy channel name in your Query like: @(NavMgr.Uri)?channel=kanawanagasakiyoko
    </div>
}
else
{
    <div class='root'>
        <div class='container'>
            @foreach (var message in _messages)
            {
                <ChatMessageComponent Message='@message' />
            }
        </div>
    </div>
}